<!-- Describe task in general -->
<p>
    This is a further development of <a target="_blank" href="https://py.checkio.org/en/mission/convert-and-aggregate/">Convert and Aggregate</a> mission.
    You are given {% if is_js %}an Array{% else %}a list{% endif %} of tuples. Each tuple consists of two values: a string
    and {% if is_js %}a number{% else %}an integer{% endif %}.
    You need to create and return {% if is_js %}an Object{% else %}a dictionary{% endif %},
    where keys are string values (except the first character) from input tuples. Values are aggregated {% if is_js %}number{% else %}integer{% endif %}
    values from input tuples for each specific key.  Each aggregating operation must be done
    according to the operation sign - the first character of string key.
    Division by zero should be ignored. The resulted {% if is_js %}Object{% else %}dictionary{% endif %}
    should not include items with empty key or zero value.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> {% if is_js %}Array{% else %}List{% endif %} of tuples.
</p>

<p>
    <strong>Output:</strong> {% if is_js %}Object{% else %}Dictionary{% endif %}. 
</p>


<p>
    <strong>Examples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

